



nav {
    display: flex;
    background-color: rgb(80, 77, 77);
    justify-content: center;
    color: white;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;
}

input {
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1rem;
    margin: 0 auto;
    padding: 0.8rem 1.5rem;
    border-radius: 0.2rem;
    background-color: rgb(255, 255, 255);
    border: none;
    width: 90%;
    display: block;
    border-bottom: 0.3rem solid transparent;
}

.mainForm {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(90, 90, 97, 0.3);
}


section {
    padding: 20px;
    margin-top: 20px;
    width: 50%;
    border: 1px solid black ;
}

.formTitle{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px ;
}


.formInputArea{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border: 1px solid red;
}

